# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg
*.egg-info/
dist/
build/
*.log

# --- Virtual Environments & Environment Files ---
venv/
.env
.env.*
*.env.json

# --- VS Code & IDEs ---
.vscode/
.idea/

# --- Django ---
*.sqlite3
db.sqlite3
/media/
/staticfiles/
/local_settings.py

# --- Node (Frontend) ---
node_modules/
*.lock

# --- Jupyter Notebooks ---
.ipynb_checkpoints/

# --- Scraped Docs & Output ---
jurisprudence/
jurisprudence2/
docs/
*.txt
outputs/
temp/
cache/
tessst/

# --- Backend Data ---
backend/data/cases.jsonl.gz
# --- HuggingFace & Qdrant Data
model_cache/
qdrant_data/
volume_backup/

backend/law-chat.Q5_K_M.gguf
backend/data/*.gz
backend/law-chat.Q4_K_M.gguf

backend/legal_roberta_finetuned/
backend/backend/data
backend/data/evaluation_logs
backend/test_results
test_results
wandb