Django
djangorestframework==3.16.0
django-cors-headers

qdrant-client==1.15.0
sentence-transformers==5.0.0
transformers==4.53.3
torch==2.7.1

python-dotenv==1.1.1
pandas
numpy
psutil==7.0.0  # for system/process KPI metrics

# KPI/metrics and monitoring
django-axes         # Security and login attempt tracking
django-prometheus   # Export metrics to Prometheus/Grafana
django-request-logging # Log request/response details
prometheus-client   # For custom metric tracking in Django

# For API testing & docs
requests==2.32.4
markdown-it-py==3.0.0
PyYAML==6.0.2

# For development/quality
ruff==0.12.4
pytest==8.2.1
llama-cpp-python
